{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>JAVASCRIPT</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut suscipit quos ratione numquam, quae architecto soluta error veritatis optio aperiam quam libero reprehenderit placeat ad voluptas! Officia sit voluptates quas voluptatibus consequuntur itaque, temporibus quam atque perferendis nemo eveniet inventore maxime, id pariatur commodi saepe et? Doloremque quibusdam labore illum.</p>
        
    </div>
    <div class="col-4">
        <img src="assets/img/27170.jpg" alt="Logo" class="img-thumbnail">
    </div>
</div>


{{> footer}}